@import url(reset.css);

BODY {
	padding:40px 0 0 40px;
	background:#C5CBD0 url(../images/background.png);
	color:#8094A5;
	text-shadow:0 1px 2px #FFF;
	font:12px Arial, sans-serif;
	}
HEADER {
	clear:both;
	}
H1 {
	margin:0 0 5px;
	font-weight:bold;
	font-size:28px;
	}
H2 {
	height:54px;
	color:#8094A5;
	font-weight:bold;
	font-size:18px;
	}
	H2 SPAN {
		display:block;
		margin:5px 0 0;
		font-weight:normal;
		font-size:12px;
		}
IFRAME {
	padding:0 0 25px;
	border:none;
	-webkit-border-radius:1px;
	-mos-border-radius:1px;
	border-radius:1px;
	background:#FFF 100% 100% no-repeat;
	-webkit-box-shadow:0 0 0 1px #FFF, 0 0 0 7px #FFF, 0 0 0 8px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 1);
	-moz-box-shadow:0 0 0 1px #FFF, 0 0 0 7px #FFF, 0 0 0 8px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 1);
	box-shadow:
		0 0 0 1px #FFF,
		0 0 0 7px #FFF,
		0 0 0 8px rgba(0, 0, 0, 0.1),
		0 4px 12px rgba(0, 0, 0, 1);
	}
IFRAME:hover {
	background-image:url(../images/close.png);
	-webkit-box-shadow:0 0 0 1px #305F8D, 0 0 0 8px #3C7CBD, 0 4px 12px rgba(0, 0, 0, 1);
	-moz-box-shadow:0 0 0 1px #305F8D, 0 0 0 8px #3C7CBD, 0 4px 12px rgba(0, 0, 0, 1);
	box-shadow:
		0 0 0 1px #305F8D,
		0 0 0 8px #3C7CBD,
		0 4px 12px rgba(0, 0, 0, 1);
	}
OL {
	float:left;
	}
	OL LI {
		float:left;
		margin:0 40px 40px 0;
		}
A {
	text-decoration:none;
	color:#1980F8;
	}